@import "../styles/base";

.range-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 14px;
  background-color: $progressBarColor;
  border-radius: 7px;
}

.thumb {
  position: absolute;
  top: -50%;
  left: 0%;
  height: 180%;
  background-color: $thumbColor;
  border: 3px solid $mainBackground;
  border-radius: 50%;
  transform: translateX(-50%);
  transition: transform 150ms ease-in-out;
  aspect-ratio: 1 / 1;
}

.thumbFrom {
  left: 10%;
}

.thumbTo {
  left: 90%;
}

.ruler{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10px;
  padding-top: 10px;

  &-separator{
    width: 2px;
    height: 10px;
    background: #646464;
  }
}
