$material-design-icons-font-directory-path: "~material-design-icons-iconfont/dist/fonts/";
@import "~material-design-icons-iconfont/src/material-design-icons";

$progressBarColor: #7badde;
$thumbColor: #228fd0;
$textColor: #1f2041;
$mainBackground: #fff;
$mainFont: montserrat, arial, sans-serif;
$screenboardBorder: #7badde;
