@import "./base";
@import "./fonts";
@import "./reset";

html {
  color: $textColor;
  font-size: 14px;
  font-family: $mainFont;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  max-height: 100px;
}

.main{
  padding: 0 30px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.container{
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 525px) {
  .container {
    flex-direction: column;
  }
}
