/* Sizes */
$sliderHeight: 8px;
$thumbSize: 10px;
$thumbSizeHalf: calc($thumbSize / 2);

/* Colors */
$sliderProgressBar: linear-gradient(#faffeb, #c3c5c7 50%, #e7eef2);
$sliderProgressBarVerical: linear-gradient(
  90deg,
  #faffeb,
  #c3c5c7 50%,
  #e7eef2
);
$sliderProgressRange: linear-gradient(0deg, #1beef1, #e7bf69);
$sliderProgressRangeVertical: linear-gradient(90deg, #1beef1, #e7bf69);

.range-slider {
  width: 100%;
  height: 100px;
  padding: 30px;

  &--vertical {
    width: 100px;
    height: 400px;
    padding: 5px 70px 5px 25px;
  }

  &__wrapper {
    position: relative;
    height: 100%;
  }
}

.progress-bar {
  position: relative;
  width: 100%;
  height: $sliderHeight;
  background: $sliderProgressBar;
  border-radius: 7px;

  &--vertical {
    width: $sliderHeight;
    height: 100%;
    background: $sliderProgressBarVerical;
  }
}

.progress-range {
  position: absolute;
  right: 0;
  left: 0;
  height: $sliderHeight;
  background: $sliderProgressRange;
  border-radius: 7px;

  &--vertical {
    height: auto;
    background: $sliderProgressRangeVertical;
  }
}

.thumb {
  position: absolute;
  top: 82%;
  z-index: 10;
  width: $thumbSize;
  height: 28px;
  background: linear-gradient(
    0deg,
    rgb(34 193 195 / 100%) 0%,
    rgb(253 187 45 / 100%) 100%
  );
  border: 1px solid rgb(255 255 255);
  transform: translateX(-5px) translateY(calc(-50% - 38px));
  cursor: pointer;

  &--vertical {
    width: 28px;
    height: 10px;
    transform: translateX(-9.5px) translateY(calc(-50% + 0px));
  }
}

.scale {
  position: absolute;
  display: block;
  width: 100%;
  padding-top: 20px;
  user-select: none;

  &__separator {
    position: absolute;

    &::before {
      position: absolute;
      top: -16px;
      display: block;
      width: 2px;
      height: 8px;
      background: #000000cf;
      border-radius: 2px;
      content: "";
    }

    &--vertical {
      top: 8px;
      left: -16px;
      width: 8px;
      height: 2px;
      padding-top: 0;
      padding-left: 20px;
      transform: translateX(-50%) translateY(-300%);

      &::before {
        top: 0;
        left: 4px;
        width: 8px;
        height: 2px;
        transform: translateX(0) translateY(300%);
      }
    }
  }

  &--veritcal {
    top: 0;
    left: 45px;
  }
}

.promp {
  position: absolute;
  top: -10px;
  transform: translateX(calc(-50% + $thumbSizeHalf)) translateY(calc(-50%));

  &--vertical {
    top: 0;
    left: -35px;
  }
}
