@import "../styles/base";

.screenboard {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    align-items: flex-start;
    justify-content: center;
    min-width: 200px;
    min-height: 20px;
    padding: 10px;
    border: 5px solid #808080;
    border-radius: 5px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-weight: 700;
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-weight: 400;
  }

  &__label {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
}
